.computer_container {
    margin-left: 40vh;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

}

.computer_cards {
    display: grid;
    grid-template-columns: repeat(3, 20em);
    gap: 0.8rem;
    width: 100%;

}

.button {
    position: fixed;
    right: 1.8rem;
    bottom: 1.5rem;
    z-index: 999;
    padding: 1.3rem;
    border-radius: 0.5rem;

}