.ramalcard_card {
    padding: 1em;
    border-radius: 5px;
    width: 60%;
    margin: 1%;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.ramalcard_card h4 {
    background-color: #222;
    color: #fff;
    padding: 0.4em;
    margin-bottom: 1em;
    font-size: 1.2em;
    border-radius: 0.4em;
    width: 100%;
}

.ramalcard_card p {
    color: #7a7a7a;
    margin-bottom: 0.7em;

}

.ramalcard_card p span {
    font-weight: bold;
    font-size: 1rem;
}