/* From uiverse.io */
.button_setor {
display: inline-block;
padding: 12px 24px;
border: 1px solid #4f4f4f;
border-radius: 4px;
position: relative;
overflow: hidden;
font-size: 19px;
color: #222;
z-index: 1;
}

.button_setor span {
    color: #222;
}

