.button_setor {
    width: 15rem;
    height: 4rem;
    align-items: center;
    display: flex;
    padding: 1rem;
    border: 1px solid #4f4f4f;
    border-radius: 0.4rem;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    color: #222;
    z-index: 1;
}

.button_setor span {
    color: #222;
}

